# dependencies
node_modules

# build output
dist
.parcel-cache

# system files
.DS_Store

# environment variables
.env

// everything mentioned in .gitignore will not be tracked by git
// everything that can be re-generated  on server or is specific to your system should be ignored
// parcel cache and node_modules can be re-generated
// .env files contain environment specific variables like API keys etc and should not be shared