body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(212, 212, 212) !important;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-brand {
  position: absolute;
  left: 60px;
  font-weight: 400;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  color: white;
  font-size: large;
  font-weight: bold;
  font-size: 5vw; /* IMPORTANT: adjust font size based on screen size */
}

.line{
    background-color: black;
    height: 2px;
    width: 98%;
    margin: 0 auto;
    z-index: 100;
}

.firstrect{
    background-color: white;
    margin-left: 0.75%;
    margin-right: 0.75%;

}

.container{
    padding-left: 0 !important; /* Remove default padding */
}

.rectcontainer{
    display: flex;
    justify-content: center;
}

.rectangle{
     width: 300px;
      height: 170px;
      background-color: rgb(19, 105, 175);
      margin: 20px;
      border-radius: 15px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
}

.incomecontainer{
     display: flex;
     justify-content: center;
     
}

.incomerect{
      background-color: white;
      width: 500px;
      height: 700px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin-left: 0.75%;
      margin-right: 0.75%;
    }    

.income-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}    

.btn-primary{
  background-color: rgb(19, 105, 175);
  border: none;
  border-radius: 20px; 
  width: 250px;
  height: 30px;
  margin: 0 auto; /* Centers the button horizontally */
  display: block; /* Needed for margin auto to work */

}        

.incomesources{
    display: flex;
    justify-content: center;
    font-style: italic;
}

.budgetcontainer{
    display: flex;
    justify-content: space-between;
}

.budgetl{
    background-color: white;
      margin: 10px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin-left: 0.75%;
      margin-right: 0.75%;
}

.budgetl:first-child{
    width: 459px;
    height: 350px;
}

.budgetl:nth-child(2) {
    width: 942px;
    height: 350px;
}

.mine{
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  
}

.mine a {
  text-decoration: none;
}

.intro{
    padding-top: 10px;
}

/* js */
.income-line{
  background-color: aqua;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.white-text{
  color: white;
}

.budget-line{
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.budgetitems{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}
.separator{
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  height: 10px;
  width: 90%;
}

